body
   font-family: 'Inter', sans-serif
   background: #f8faff
   font-weight: 400
   font-size: 16px
   line-height: 130%
   color: #111720
a
   text-decoration: none
   box-sizing: border-box
   transition: 0.5s !important
   &:hover 
      color: $blue
.container
   padding: 0 15px
   max-width: 1200px
   margin: 0 auto
   width: 100%
   @media ( max-width: 1199px )
      max-width: 960px 
   @media (max-width: 991px)
      max-width: 720px 
   @media (max-width: 767px)
      max-width: 540px 
      padding: 0 10px
.d-flex
   display: flex
.body-wrap
   overflow: hidden
   position: relative
   display: flex
   flex-direction: column
   min-height: 100vh
footer
   margin-top: auto
h1
   margin: 0
   font-weight: bold
   font-size: 48px
   line-height: 58px
h2 
   margin: 0
   font-weight: 600
   font-size: 32px
   line-height: 160%
   text-align: center
ul 
   margin: 0
   padding: 0
   list-style-type: none
p
   margin: 0
.blue 
   color: $blue
.svg 
   transition: 0.5s ease
a
   transition: color 0.5s ease
   box-sizing: border-box
li
   a
      transition: color 0.5s ease
button
   cursor: pointer
   box-sizing: border-box
textarea
   transition: border 0.5s
   box-sizing: border-box
   &:focus
      transition: border 0.5s
      outline: none
      border: 1px solid $blue !important
input
   transition: 0.5s
   box-sizing: border-box
   border: 1px solid #fff
   color: white
   &:disabled
      pointer-events: none
      opacity: 0.5
   &:focus 
      border: 1px solid $blue !important
      transition: 0.5s
   &:focus-visible
      outline: initial
path, circle
   transition: fill 0.5s, stroke 0.5s
div 
   box-sizing: border-box
.icon 
   transition: fill 0.5s, stroke 0.5s
html * 
   scrollbar-width: thin
   scrollbar-color: blue $blue
*::-webkit-scrollbar,
html *::-webkit-scrollbar 
   height: 4px
   width: 4px
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track 
   background: #E7E7E7
   border-radius: 3px
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb 
   background-color: $blue
   border-radius: 6px

.item3__bottom 
   scrollbar-width: thin
   scrollbar-color: blue $blue
.item3__bottom::-webkit-scrollbar 
   height: 0px
   width: 0px
.item3__bottom::-webkit-scrollbar-track 
   background: #E7E7E7
   border-radius: 3px
.item3__bottom::-webkit-scrollbar-thumb 
   background-color: $blue
   border-radius: 6px
.btn 
   display: flex
   align-items: center
   justify-content: center
   width: 189px
   height: 59px
   background: $blue
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04)
   border-radius: 5px
   font-weight: 500
   font-size: 16px
   line-height: 19px
   color: #F5F9FF
   border: 2px solid $blue
   &:hover 
      color: $blue
      background: transparent
      border: 2px solid $blue
.mob 
   display: none